body {
    margin: 0;
    padding: 0;
    font-family: 'Monotype Corsiva';
    font-size: xx-large;
    background-color: #abbd77;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #8A9A5B;
    display: flex;
    justify-content: center;
  }
  
  .topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 auto;
    width: 600px;
    text-align: center;
  }
  
  .topnav a:hover {
    background-color: #abbd77;
    color: black;
  }
  
  .topnav a.active {
    background-color: #8A9A5B;
    color: white;
  }

  .topnav a.active:hover {
    background-color: #abbd77;
    color: black;
  }

  .vine {
    background-image: url('vine.png');
    background-repeat: no-repeat;
    width: 750px;
    height: 100px;
    margin:auto;
  }