body {
    margin: 0;
    padding: 0;
    background-color: #abbd77;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #8A9A5B;
    display: flex;
    justify-content: center;
  }
  
  .topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 auto;
    width: 600px;
    text-align: center;
  }
  
  .topnav a:hover {
    background-color: #abbd77;
    color: black;
  }

  .vine {
    background-image: url('vine.png');
    background-repeat: no-repeat;
    width: 750px;
    height: 100px;
    margin:auto;
  }

  hr.dashed {
    border-top: 3px dashed lightgray;
    border-bottom: 0px dashed lightgray;
    width: 600px;
  }

  .text{
    font-family: 'Monotype Corsiva';
    font-size: xx-large;
  }

  .column {
    float: left;
  }
  
  .left, .right {
    width: 30%;
  }
  
  .middle {
    width: 40%;
  }

  .row {
    padding-top: 10px;
  }

  .page_title {
    text-align: center;
    font-family: 'Monotype Corsiva';
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }